mixin s-opt()
	// start s-opt
	+b.SECTION.s-opt.section.text-center#s-opt&attributes(attributes)
		.container
			+b.section-title
				h2 «Елки оптом» это:
				
			.row
				mixin item(i)
					+e.col.col-lg-4.col-sm-6
						+e.item 
							+e.img-wrap
								img.res-i.lazy(src="#" data-src=`img/@1x/opt-${i}.png`, alt="")  
							block
				+item('1')
					p 
						strong Лучшая оптовая цена от производителя начиная с&nbsp;1996&nbsp;г.:
						|
						|  Мы&nbsp;производитель и предлагаем лучшие оптовые цены по&nbsp;Москве и&nbsp;МО.
				+item('2')
					p 
						strong Большой ассортимент продукции: 
						|
						|  Не&nbsp;нужно ходить и&nbsp;сравнивать,  одном месте&nbsp;Вы найдете все необходимые размеры в&nbsp;нужном количестве.
				+item('3')
					p 
						strong Гарантия качества&nbsp;&mdash; отбор каждого дерева вручную + сертификат качества 
						|
						| Наши внимательные технологи отсортировывают только лучшие деревья.
				+item('4')
					p
						strong  Доставка в&nbsp;любую точку в&nbsp;любом объеме: Доставка по&nbsp;Москве и Московской области.
				+item('5')
					p 
						strong Собственный большой склад:
						|  Всегда все позиции в&nbsp;наличии, предлагаем возможность дозаказа по&nbsp;сезонному спросу.
				+item('6')
					p 
						strong Мы&nbsp;работаем&nbsp;c: 
						|  Розничными сетями, оптовыми организациями, начинающими предпринимателями,  юр.&nbsp;и&nbsp;физ. лицами.
			+e.foot.strong Наша горячая линия для оптовиков: 
				|
				a(href="tel:8(495)740-83-71") 8 (495) 740-83-71
				|&nbsp;/ 
				| 
				a(href="tel:8(925)154-55-43") 8 (925) 154-55-43
				br
				| Позвоните прямо сейчас! Ответим СРАЗУ на&nbsp;любые вопросы!
	// end s-opt