mixin s-rew()
	// start s-rew
	+b.SECTION.s-rew.section.text-center#s-rew&attributes(attributes)
		.container
			+b.section-title
				h2 Нам доверяют
				
			.row
				mixin item(i)
					+e.col.col-xl-4.col-md-6
						+e.item
							img.res-i.lazy(src="#" data-src=`img/@1x/rew-${i}.png`, alt="") 
							block
				+item("1")
					p.strong  Тихомирова Анастасия
						br
						| директор магазина
					p Работаем с компанией «Елочки» не первый год, цены действительно самые низкие, товар очень хорошего качества, разлетается быстро. Eсли требуется дозакупка, привозят в день заявки. Если вы действительно хотите заработать приличные деньги на Новый год, то с этими ребятами, точно не прогадаете. Всем рекомендую.
				+item("2")
					p.strong  Усманов Анатолий
						br
						| предприниматель
					p У меня немного другая сфера деятельности, но кто откажется подзаработать на Новый год. Решил попробовать и не ошибся. Елки, оказались отличного качества, поэтому раскупили быстро. Брака не было. Хочется отметить работу менеджера, которая посоветовала какие елки брать и в каком количестве, чтобы не прогореть.
				+item("3")
					p.strong  Серебрякова Алина
						br
						| секретарь
					p Каждый Новый год думаю «Что дарить партнерам и сотрудникам?» Случайно увидела рекламу о продаже елок в горшках и подумала, а чем не подарок. Боялась только что качество будет не очень. Оказалось зря. Все елочки как с картинки. Цены гораздо дешевле, чем в магазинах. Привезли в назначенное время, без опозданий.
	// end s-rew