mixin header-block()
	// start header-block
	+b.header-block#header-block
		.container
			+e.logo
				img.res-i(src="img/@1x/logo-head.png", alt="")
			h1 Елки оптом
			img.res-i(src="img/@1x/text-price.png", alt="")
			p Без наших красавиц не обходится ни один новый год!
			+e.icons-block
				mixin item(i,t,p)
					+e.col.col-lg-auto.col-6
						img.res-i(src=`img/@1x/head-i-${i}.png`, alt="")
						+e.title= t
						+e.text= p
			.row
				+item('1','Лучшая цена','по рынку в Москве')
				+item('2','Всегда','на складе в наличии') 
				+item('3','100% контроль','качества вручную')
				+item('4','Работаем','с 1996 г.')
				+e.col-center.col
					button.btn-primary.b24-web-form-popup-btn-13(href="submit")   Получить прайс
			+e.text-foot Мы&nbsp;самостоятельно выращиваем деревья: не&nbsp;рубим лесную елку.
				br
				| Наши деревья растут в&nbsp;питомнике, где им&nbsp;достаточно места и&nbsp;света для идеального роста.
			.video-block
			 
				<video src="elki-opt.biz.mov" controls preload="auto" > 
				</video>
	// end header-block