mixin s-store()
	// start s-store
	+b.SECTION.s-store.section#s-store&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Наш склад
				p Посмотрите, как вырос наш склад за&nbsp;3&nbsp;прошедшие года
					br
					| Больше склад&nbsp;&mdash; больше елок для наших клиентов
			.row
				mixin item(i,d, val)
					+e.col.col-lg-4.col-md-6
						+e.item

							+e.img-wrap
								+e.val= val
								img.res-i.lazy(src="#" data-src=`img/@1x/store-${i}.png`, alt="") 
							+e.date= d
							block
				+item('1','2016','2000м²')
					p Наш склад три года назад.
						br
						| Помните свою новогоднюю елку три года назад? Возможно, она где-то на этих фото.

					p Площадь всего 2000 м2
						br
						| Кол-во сотрудников: 3

				+item('2','2017','3500м²')
					p Компания росла, вместе с ней рос и склад. В этом году у нас был уже собственный питомник.

					p Площадь уже 3500 м2
						br
						| Кол-во сотрудников: 5

				+item('3','2018','4500м²')
					p Еще один год, еще один сезон и&nbsp;еще один скачок в&nbsp;развитии. Мы&nbsp;вступили в&nbsp;ассоциацию &laquo;Original Nordmann&raquo;.
					p Площадь достигла 4500 м2
						br
						| Кол-во сотрудников: 12
					p Страны поставки:
						br
						| Дания, Россия, Норвегия, и&nbsp;др.
			+e.footer-text
				p Мы&nbsp;вспоминаем прошедшие сезоны, чтобы вы&nbsp;оценили, как вырос наш ассортимент и&nbsp;уровень клиентского сервиса.
					br
					|  Приезжайте, свежие елки на&nbsp;большом и&nbsp;удобном складе ждут Вас. 
					br
					span Московская область, Ленинский район, деревня Калиновка

	// end s-store